<a href="https://colab.research.google.com/github/mlteixei/notebooks/blob/main/projeto_spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução
---

### Apache Spark
Apache Spark é uma plataforma de computação em *cluster* que fornece uma API para programação distribuída para processamento de dados em larga escala, semelhante ao modelo *MapReduce*, mas projetada para ser mais rápida .

O Spark permite processamento distribuído de tarefas em clusters com vários nós. A divisão dos dados torna mais fácil o trabalho com conjuntos de dados muito grandes porque cada nó processa apenas uma parte parte do volume total de dados.

### PySpark
PySpark é uma interface para Apache Spark em Python. O PySpark oferece suporte à maioria dos recursos do Spark, como Spark SQL, DataFrame, Streaming, MLlib (Machine Learning) e Spark Core.

### Utilizando o Spark no Google Colab

Para utilizar o Google Colab e para configurar o PySpark utilizamos os comandos abaixo.

In [ ]:
# instalando as dependências
!apt-get update -qq
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz
!pip install -q findspark

In [ ]:
# criando variáveis de ambiente para o JAVA e SPARK
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [ ]:
# biblioteca para localizar o caminho do SPARK
import findspark
findspark.init()

# Carregamento dos dados
---

### Baixando o dataset do Kaggle
Vamos baixar o dataset diretamente do Kaggle e fazer a leitura dos dados

In [ ]:
# baixando o dataset do Kaggle
!pip install opendatasets
!pip install pandas
import opendatasets as od
import pandas
# {"username":"matheusltr","key":"e4c5cddd081452edd92831397f77e91e"}  
od.download("https://www.kaggle.com/datasets/ealaxi/paysim1")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from opendatasets) (4.64.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2.25.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (8.0.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2022.12.7)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle->opendatasets) (4.0.0)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: matheusltr
Your Kaggle Key: ··········
Downloading paysim1.zip to ./paysim1

100%|██████████| 178M/178M [00:01<00:00, 122MB/s]

### SparkSession
Para criar DataFrames, executar consultas SQL, armazenar em cache e ler arquivos utilizamos uma SparkSession, por meio dos seguintes comandos:

In [ ]:
# criando sessão SPARK
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Iniciando com Spark") \
    .getOrCreate()

In [ ]:
spark

### Leitura dos dados

In [ ]:
# leitura do dataset baixado 
base = spark.read.csv('/content/paysim1/PS_20174392719_1491204439457_log.csv', header=True)

In [ ]:
# verificando a quantidade de registros
base.count()

6362620

In [ ]:
# visualizando a base de dados
base.limit(5).toPandas()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.0,C1305486145,181.0,0.0,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.0,C840083671,181.0,0.0,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

# Pré-processamento dos dados
---


### Analisando os tipos dos dados

In [ ]:
# verificando os tipos de dados dos atributos
base.printSchema()

root
 |-- step: string (nullable = true)
 |-- type: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- nameOrig: string (nullable = true)
 |-- oldbalanceOrg: string (nullable = true)
 |-- newbalanceOrig: string (nullable = true)
 |-- nameDest: string (nullable = true)
 |-- oldbalanceDest: string (nullable = true)
 |-- newbalanceDest: string (nullable = true)
 |-- isFraud: string (nullable = true)
 |-- isFlaggedFraud: string (nullable = true)

### Modificando os tipos de dados

In [ ]:
# importando bibliotecas para conversão de tipos de dados
from pyspark.sql.types import IntegerType, DoubleType

In [ ]:
# convertendo os tipos de dados para numéricos
base = base\
  .withColumn('step', base['step'].cast(IntegerType()))\
  .withColumn('amount', base['amount'].cast(DoubleType()))\
  .withColumn('oldbalanceOrg', base['oldbalanceOrg'].cast(DoubleType()))\
  .withColumn('newbalanceOrig', base['newbalanceOrig'].cast(DoubleType()))\
  .withColumn('oldbalanceDest', base['oldbalanceDest'].cast(DoubleType()))\
  .withColumn('newbalanceDest', base['newbalanceDest'].cast(DoubleType()))\
  .withColumn('isFraud', base['isFraud'].cast(IntegerType()))\
  .withColumn('isFlaggedFraud', base['isFlaggedFraud'].cast(IntegerType()))

In [ ]:
# visualizando os tipos de dados após conversão
base.printSchema()

root
 |-- step: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- amount: double (nullable = true)
 |-- nameOrig: string (nullable = true)
 |-- oldbalanceOrg: double (nullable = true)
 |-- newbalanceOrig: double (nullable = true)
 |-- nameDest: string (nullable = true)
 |-- oldbalanceDest: double (nullable = true)
 |-- newbalanceDest: double (nullable = true)
 |-- isFraud: integer (nullable = true)
 |-- isFlaggedFraud: integer (nullable = true)

In [ ]:
# visualizando base de dados
base.show()

+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|step|    type|   amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|
+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|   1| PAYMENT|  9839.64|C1231006815|     170136.0|     160296.36|M1979787155|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  1864.28|C1666544295|      21249.0|      19384.72|M2044282225|           0.0|           0.0|      0|             0|
|   1|TRANSFER|    181.0|C1305486145|        181.0|           0.0| C553264065|           0.0|           0.0|      1|             0|
|   1|CASH_OUT|    181.0| C840083671|        181.0|           0.0|  C38997010|       21182.0|           0.0|      1|             0|
|   1| PAYMENT| 11668.14|C2048537720|      41554.0|      29885.86|M1230701703|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  7817.71|  C90045638|      53860.0|      46042.29| M573487274|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  7107.77| C154988899|     183195.0|     176087.23| M408069119|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  7861.64|C1912850431|    176087.23|     168225.59| M633326333|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  4024.36|C1265012928|       2671.0|           0.0|M1176932104|           0.0|           0.0|      0|             0|
|   1|   DEBIT|  5337.77| C712410124|      41720.0|      36382.23| C195600860|       41898.0|      40348.79|      0|             0|
|   1|   DEBIT|  9644.94|C1900366749|       4465.0|           0.0| C997608398|       10845.0|     157982.12|      0|             0|
|   1| PAYMENT|  3099.97| C249177573|      20771.0|      17671.03|M2096539129|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  2560.74|C1648232591|       5070.0|       2509.26| M972865270|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 11633.76|C1716932897|      10127.0|           0.0| M801569151|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  4098.78|C1026483832|     503264.0|     499165.22|M1635378213|           0.0|           0.0|      0|             0|
|   1|CASH_OUT|229133.94| C905080434|      15325.0|           0.0| C476402209|        5083.0|      51513.44|      0|             0|
|   1| PAYMENT|  1563.82| C761750706|        450.0|           0.0|M1731217984|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  1157.86|C1237762639|      21156.0|      19998.14|M1877062907|           0.0|           0.0|      0|             0|
|   1| PAYMENT|   671.64|C2033524545|      15123.0|      14451.36| M473053293|           0.0|           0.0|      0|             0|
|   1|TRANSFER| 215310.3|C1670993182|        705.0|           0.0|C1100439041|       22425.0|           0.0|      0|             0|
+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
only showing top 20 rows

### Verificando transações marcadas como fraudes

In [ ]:
# quantidade de transações como fraude
base.where('isFraud==1').count()

8213

In [ ]:
# percentual de transações que são fraudes
(base.where('isFraud==1').count() / base.count())*100

0.12908204481801522

## Transformação dos dados

In [ ]:
# importando biblioteca para consultas na base
from pyspark.sql import functions as f
base.groupBy('nameOrig').pivot('type').agg(f.lit(1)).na.fill(0).show()

+-----------+-------+--------+-----+-------+--------+
|   nameOrig|CASH_IN|CASH_OUT|DEBIT|PAYMENT|TRANSFER|
+-----------+-------+--------+-----+-------+--------+
|C1298557761|      0|       0|    0|      1|       0|
| C842031308|      0|       1|    0|      0|       0|
|C1398324588|      1|       0|    0|      0|       0|
| C971397568|      0|       0|    0|      1|       0|
| C539524487|      0|       1|    0|      0|       0|
| C314630213|      1|       0|    0|      0|       0|
|C1418400884|      0|       0|    0|      1|       0|
| C500869003|      0|       1|    0|      0|       0|
|C1427037170|      0|       1|    0|      0|       0|
|C1085818726|      0|       0|    0|      0|       1|
|C1658939450|      1|       0|    0|      0|       0|
| C187908769|      0|       0|    0|      1|       0|
| C481022227|      0|       0|    0|      1|       0|
|C1927868514|      0|       1|    0|      0|       0|
| C625817784|      0|       0|    0|      1|       0|
|C1476003646|      0|       1|    0|      0|       0|
| C961061306|      0|       0|    0|      1|       0|
|C1155493569|      1|       0|    0|      0|       0|
|C2030533760|      1|       0|    0|      0|       0|
| C184077346|      1|       0|    0|      0|       0|
+-----------+-------+--------+-----+-------+--------+
only showing top 20 rows

In [ ]:
# transformação de dados multicategóricos em atributos
base_processada = base.groupBy('nameOrig').pivot('type').agg(f.lit(1)).na.fill(0)

In [ ]:
# junção de base transformada com a base original
base_processada = base.join(base_processada, 'nameOrig', how='inner')

In [ ]:
# visualizando base de dados após transformação de dados multicategóricos em atributos
base_processada.show()

+-----------+----+--------+---------+-------------+--------------+-----------+--------------+--------------+-----+--------------+-------+--------+-----+-------+--------+
|   nameOrig|step|    type|   amount|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|label|isFlaggedFraud|CASH_IN|CASH_OUT|DEBIT|PAYMENT|TRANSFER|
+-----------+----+--------+---------+-------------+--------------+-----------+--------------+--------------+-----+--------------+-------+--------+-----+-------+--------+
|C1000031397| 259|CASH_OUT|163976.41|          0.0|           0.0|C1030970900|    2281442.13|    2445418.54|    0|             0|      0|       1|    0|      0|       0|
|C1000050727| 354|CASH_OUT| 33110.41|          0.0|           0.0|C1183531360|     370166.97|     403277.38|    0|             0|      0|       1|    0|      0|       0|
|C1000138136| 166|TRANSFER|361405.04|          0.0|           0.0|C1794058350|     846606.36|     1208011.4|    0|             0|      0|       0|    0|      0|       1|
| C100021340|  37|CASH_OUT| 66504.79|      23758.0|           0.0|C1711920602|           0.0|           0.0|    0|             0|      0|       1|    0|      0|       0|
|C1000243850| 206|CASH_OUT| 42775.53|     27479.54|           0.0|C2110337370|     176190.97|      218966.5|    0|             0|      0|       1|    0|      0|       0|
|C1000262126|  14| CASH_IN|119260.86|    183746.92|     303007.78|C1758078892|           0.0|           0.0|    0|             0|      1|       0|    0|      0|       0|
|C1000421987| 189| CASH_IN| 81861.65|   1526816.76|    1608678.41|C1426229596|     130301.88|      48440.23|    0|             0|      1|       0|    0|      0|       0|
|C1000502024| 130| PAYMENT| 10044.99|          0.0|           0.0|M1896466681|           0.0|           0.0|    0|             0|      0|       0|    0|      1|       0|
|C1000505956| 326|CASH_OUT|127684.32|          0.0|           0.0| C862557760|     275025.22|     402709.54|    0|             0|      0|       1|    0|      0|       0|
|C1000507192|  34|CASH_OUT| 19513.74|          0.0|           0.0|  C79598132|      76965.66|       96479.4|    0|             0|      0|       1|    0|      0|       0|
|C1000543801| 305|TRANSFER| 739233.0|          0.0|           0.0|  C18762550|     874103.22|    1613336.22|    0|             0|      0|       0|    0|      0|       1|
|C1000547990|  35| CASH_IN| 87429.03|    323732.09|     411161.12| C193538068|     154120.81|      66691.78|    0|             0|      1|       0|    0|      0|       0|
|C1000570608| 134|CASH_OUT|194761.41|      25928.0|           0.0| C559090533|           0.0|     194761.41|    0|             0|      0|       1|    0|      0|       0|
|C1000705854| 205| PAYMENT| 31285.98|          0.0|           0.0|M1730280179|           0.0|           0.0|    0|             0|      0|       0|    0|      1|       0|
|C1000809646| 140| CASH_IN|226459.37|1.013311461E7| 1.035957398E7|C1289017934|    1367098.67|     1140639.3|    0|             0|      1|       0|    0|      0|       0|
|C1000822687| 235|CASH_OUT|153930.88|    190053.12|      36122.24| C374173706|     155303.84|     309234.72|    0|             0|      0|       1|    0|      0|       0|
|C1000837891| 379| CASH_IN| 44135.15|     700259.0|     744394.15|C1617943467|     135753.58|      91618.43|    0|             0|      1|       0|    0|      0|       0|
|C1000862103| 379| CASH_IN|249399.86|   4546242.21|    4795642.07| C378605191|     299411.91|      50012.05|    0|             0|      1|       0|    0|      0|       0|
|C1000889958| 596| CASH_IN|322687.86|   5550248.01|    5872935.87|C1345902553|     350481.09|      27793.23|    0|             0|      1|       0|    0|      0|       0|
|C1000891641| 420|CASH_OUT|241341.36|          0.0|           0.0|C1980439000|     724286.24|     965627.59|    0|             0|      0|       1|    0|      0|       0|
+-----------+----+--------+---------+-------------+--------------+-----------+--------------+--------------+-----+--------------+-------+--------+-----+-------+--------+
only showing top 20 rows

In [ ]:
# visualizando tipos de dados após junção
base_processada.printSchema()

root
 |-- nameOrig: string (nullable = true)
 |-- step: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- amount: double (nullable = true)
 |-- oldbalanceOrg: double (nullable = true)
 |-- newbalanceOrig: double (nullable = true)
 |-- nameDest: string (nullable = true)
 |-- oldbalanceDest: double (nullable = true)
 |-- newbalanceDest: double (nullable = true)
 |-- isFraud: integer (nullable = true)
 |-- isFlaggedFraud: integer (nullable = true)
 |-- CASH_IN: integer (nullable = true)
 |-- CASH_OUT: integer (nullable = true)
 |-- DEBIT: integer (nullable = true)
 |-- PAYMENT: integer (nullable = true)
 |-- TRANSFER: integer (nullable = true)

## Seleção dos atributos
Vamos escolher quais atributos serão utilizados pelo modelo preditivo criando um vetor com os dados de interesse

In [ ]:
# importanto biblioteca para criar vetor com os atributos de intesse
from pyspark.ml.feature import VectorAssembler

In [ ]:
# especificando atributo de interesse 
base_processada = base_processada.withColumnRenamed('isFraud', 'label')
base_processada.show()

+-----------+----+--------+---------+-------------+--------------+-----------+--------------+--------------+-----+--------------+-------+--------+-----+-------+--------+
|   nameOrig|step|    type|   amount|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|label|isFlaggedFraud|CASH_IN|CASH_OUT|DEBIT|PAYMENT|TRANSFER|
+-----------+----+--------+---------+-------------+--------------+-----------+--------------+--------------+-----+--------------+-------+--------+-----+-------+--------+
|C1000031397| 259|CASH_OUT|163976.41|          0.0|           0.0|C1030970900|    2281442.13|    2445418.54|    0|             0|      0|       1|    0|      0|       0|
|C1000050727| 354|CASH_OUT| 33110.41|          0.0|           0.0|C1183531360|     370166.97|     403277.38|    0|             0|      0|       1|    0|      0|       0|
|C1000138136| 166|TRANSFER|361405.04|          0.0|           0.0|C1794058350|     846606.36|     1208011.4|    0|             0|      0|       0|    0|      0|       1|
| C100021340|  37|CASH_OUT| 66504.79|      23758.0|           0.0|C1711920602|           0.0|           0.0|    0|             0|      0|       1|    0|      0|       0|
|C1000243850| 206|CASH_OUT| 42775.53|     27479.54|           0.0|C2110337370|     176190.97|      218966.5|    0|             0|      0|       1|    0|      0|       0|
|C1000262126|  14| CASH_IN|119260.86|    183746.92|     303007.78|C1758078892|           0.0|           0.0|    0|             0|      1|       0|    0|      0|       0|
|C1000421987| 189| CASH_IN| 81861.65|   1526816.76|    1608678.41|C1426229596|     130301.88|      48440.23|    0|             0|      1|       0|    0|      0|       0|
|C1000502024| 130| PAYMENT| 10044.99|          0.0|           0.0|M1896466681|           0.0|           0.0|    0|             0|      0|       0|    0|      1|       0|
|C1000505956| 326|CASH_OUT|127684.32|          0.0|           0.0| C862557760|     275025.22|     402709.54|    0|             0|      0|       1|    0|      0|       0|
|C1000507192|  34|CASH_OUT| 19513.74|          0.0|           0.0|  C79598132|      76965.66|       96479.4|    0|             0|      0|       1|    0|      0|       0|
|C1000543801| 305|TRANSFER| 739233.0|          0.0|           0.0|  C18762550|     874103.22|    1613336.22|    0|             0|      0|       0|    0|      0|       1|
|C1000547990|  35| CASH_IN| 87429.03|    323732.09|     411161.12| C193538068|     154120.81|      66691.78|    0|             0|      1|       0|    0|      0|       0|
|C1000570608| 134|CASH_OUT|194761.41|      25928.0|           0.0| C559090533|           0.0|     194761.41|    0|             0|      0|       1|    0|      0|       0|
|C1000705854| 205| PAYMENT| 31285.98|          0.0|           0.0|M1730280179|           0.0|           0.0|    0|             0|      0|       0|    0|      1|       0|
|C1000809646| 140| CASH_IN|226459.37|1.013311461E7| 1.035957398E7|C1289017934|    1367098.67|     1140639.3|    0|             0|      1|       0|    0|      0|       0|
|C1000822687| 235|CASH_OUT|153930.88|    190053.12|      36122.24| C374173706|     155303.84|     309234.72|    0|             0|      0|       1|    0|      0|       0|
|C1000837891| 379| CASH_IN| 44135.15|     700259.0|     744394.15|C1617943467|     135753.58|      91618.43|    0|             0|      1|       0|    0|      0|       0|
|C1000862103| 379| CASH_IN|249399.86|   4546242.21|    4795642.07| C378605191|     299411.91|      50012.05|    0|             0|      1|       0|    0|      0|       0|
|C1000889958| 596| CASH_IN|322687.86|   5550248.01|    5872935.87|C1345902553|     350481.09|      27793.23|    0|             0|      1|       0|    0|      0|       0|
|C1000891641| 420|CASH_OUT|241341.36|          0.0|           0.0|C1980439000|     724286.24|     965627.59|    0|             0|      0|       1|    0|      0|       0|
+-----------+----+--------+---------+-------------+--------------+-----------+--------------+--------------+-----+--------------+-------+--------+-----+-------+--------+
only showing top 20 rows

In [ ]:
# criando vetor com atributos de interesse
X = [
    'step',
    'amount',
     'oldbalanceOrg',
     'newbalanceOrig',
     'oldbalanceDest',
     'newbalanceDest',
     'isFlaggedFraud',
     'CASH_IN',
     'CASH_OUT',
     'DEBIT',
     'PAYMENT',
     'TRANSFER'
]

In [ ]:
assembler = VectorAssembler(inputCols = X, outputCol= 'features')

In [ ]:
base_prep = assembler.transform(base_processada).select('features', 'label')

# Modelagem
---

## Regressão linear
Vamos utilizar a biblioteca de regressão linear para criação do modelo preditivo

In [ ]:
# importando biblioteca para regressão linear
from pyspark.ml.regression import LinearRegression

### Divisão em treino e teste

In [ ]:
# divindo os dados em treino e teste
treino, teste = base_prep.randomSplit([0.7, 0.3])

In [ ]:
# quantidade de dados de treino
treino.count()

4453616

In [ ]:
# quantidade de dados de teste
teste.count()

1909004

In [ ]:
lr = LinearRegression()

### Ajuste do modelo

In [ ]:
# ajustando o modelo com os dados de treino
modelo_lr = lr.fit(treino)

In [ ]:
previsoes_lr_treino = modelo_lr.transform(treino)

In [ ]:
# visualizando as previsões do modelo
previsoes_lr_treino.show()

+--------------------+-----+--------------------+
|            features|label|          prediction|
+--------------------+-----+--------------------+
|(12,[0,1,2,3,4,7]...|    0| 0.01054989926520365|
|(12,[0,1,2,3,4,7]...|    0|0.016155999954652715|
|(12,[0,1,2,3,4,7]...|    0|0.015396075372486925|
|(12,[0,1,2,3,4,7]...|    0|8.732547056276956E-4|
|(12,[0,1,2,3,4,7]...|    0|1.045830946912948...|
|(12,[0,1,2,3,4,7]...|    0|6.036457589161069E-4|
|(12,[0,1,2,3,4,7]...|    0|-0.01387746686487...|
|(12,[0,1,2,3,4,7]...|    0|0.010239443055382207|
|(12,[0,1,2,3,4,7]...|    0|-0.00499557676461...|
|(12,[0,1,2,3,4,7]...|    0|-0.02060984695768...|
|(12,[0,1,2,3,4,7]...|    0|-0.03511721580321611|
|(12,[0,1,2,3,4,7]...|    0|0.013970108089142712|
|(12,[0,1,2,3,4,7]...|    0|-0.04890715961478442|
|(12,[0,1,2,3,4,7]...|    0|0.012866943648059764|
|(12,[0,1,2,3,4,7]...|    0|0.011274234117390338|
|(12,[0,1,2,3,4,7]...|    0| 0.01004587468401701|
|(12,[0,1,2,3,4,7]...|    0|-0.01287301225958...|
|(12,[0,1,2,3,4,7]...|    0|-0.01398692697953...|
|(12,[0,1,2,3,4,7]...|    0|-0.01345329799896...|
|(12,[0,1,2,3,4,7]...|    0|-0.05366875134968342|
+--------------------+-----+--------------------+
only showing top 20 rows

## Árvore de Decisão

In [ ]:
# importando biblioteca para árvore de decisão
from pyspark.ml.regression import DecisionTreeRegressor

In [ ]:
dtr = DecisionTreeRegressor(seed=191, maxDepth=7)

### Ajuste do modelo

In [ ]:
# ajustando o modelo com os dados de treino
odelo_dtr = dtr.fit(treino)

In [ ]:
previsoes_dtr_treino = modelo_dtr.transform(treino)

In [ ]:
# visualizando as previsões do modelo
previsoes_dtr_treino.show()

+--------------------+-----+----------+
|            features|label|prediction|
+--------------------+-----+----------+
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
|(12,[0,1,2,3,4,7]...|    0|       0.0|
+--------------------+-----+----------+
only showing top 20 rows

# Avaliação dos modelos
---
Para avaliar o desempenho do modelo preditivo usamos as métricas R2 e RMSE

### Regressão Linear

In [ ]:
resumo_treino = modelo_lr.summary

In [ ]:
# avaliando métrica R2 dos dados de treino
resumo_treino.r2

0.18695576782043977

In [ ]:
# avaliando métrica RMSE dos dados de treino
resumo_treino.rootMeanSquaredError

0.032490582273677814

In [ ]:
resumo_teste = modelo_lr.evaluate(teste)

In [ ]:
# avaliando métrica R2 dos dados de teste
resumo_teste.r2

0.17787193769689302

In [ ]:
# avaliando métrica RMSE dos dados de teste
resumo_teste.rootMeanSquaredError

0.032282505622328254

##Arvore de decisão

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator

In [ ]:
evaluator = RegressionEvaluator()

In [ ]:
# avaliando métrica R2 dos dados de treino
print(evaluator.evaluate(previsoes_dtr_treino, {evaluator.metricName: "r2"}))

0.7027698595588623

In [ ]:
# avaliando métrica RMSE dos dados de treino
print(evaluator.evaluate(previsoes_dtr_treino, {evaluator.metricName: "rmse"}))

0.019644764698096014

In [ ]:
previsoes_dtr_teste = modelo_dtr.transform(teste)

In [ ]:
# avaliando métrica R2 dos dados de teste
print("R²: %f" % evaluator.evaluate(previsoes_dtr_treino, {evaluator.metricName: "r2"}))

R²: 0.702770

In [ ]:
# avaliando métrica RMSE dos dados de teste
print("RMSE: %f" % evaluator.evaluate(previsoes_dtr_teste, {evaluator.metricName: "rmse"}))

RMSE: 0.019784

### Comparativo de modelos

In [ ]:
print('Regressão Linear')
print("Dados de Treino")
print("R²: %f" % resumo_treino.r2)
print("RMSE: %f" % resumo_treino.rootMeanSquaredError)
print("Dados de Teste")
print("R²: %f" % resumo_teste.r2)
print("RMSE: %f" % resumo_teste.rootMeanSquaredError)
print("")
print('Árvore de Decisão')
print("Dados de Treino")
print("R²: %f" % evaluator.evaluate(previsoes_dtr_treino, {evaluator.metricName: "r2"}))
print("RMSE: %f" % evaluator.evaluate(previsoes_dtr_treino, {evaluator.metricName: "rmse"}))
print("Dados de Teste")
print("R²: %f" % evaluator.evaluate(previsoes_dtr_teste, {evaluator.metricName: "r2"}))
print("RMSE: %f" % evaluator.evaluate(previsoes_dtr_teste, {evaluator.metricName: "rmse"}))

Regressão Linear
Dados de Treino
R²: 0.186956
RMSE: 0.032491
Dados de Teste
R²: 0.177872
RMSE: 0.032283

Árvore de Decisão
Dados de Treino
R²: 0.702770
RMSE: 0.019645
Dados de Teste
R²: 0.691222
RMSE: 0.019784